<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource='dbconfig.properties'/>

    <settings>
        <!-- instead of setting here, it is possible to set Configuration properties after creating SqlSessionFactory  -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="lazyLoadTriggerMethods" value=""/>
    </settings>

    <environments default="DEVELOP">
        <environment id="DEVELOP">
            <transactionManager type='JDBC'/>
            <dataSource type='POOLED'>
                <property name='driver'   value='${jdbc.driverClassName}'/>
                <property name='url'      value='${jdbc.url}'/>
                <property name='username' value='${jdbc.username}'/>
                <property name='password' value='${jdbc.password}'/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="net.thumbtack.forums.mappers.UserMapper"/>
        <mapper class="net.thumbtack.forums.mappers.SessionMapper"/>
        <mapper class="net.thumbtack.forums.mappers.ForumMapper"/>
        <mapper class="net.thumbtack.forums.mappers.TagMapper"/>
        <mapper class="net.thumbtack.forums.mappers.RatingMapper"/>
        <mapper class="net.thumbtack.forums.mappers.MessageTreeMapper"/>
        <mapper class="net.thumbtack.forums.mappers.MessageMapper"/>
        <mapper class="net.thumbtack.forums.mappers.MessageHistoryMapper"/>
        <mapper class="net.thumbtack.forums.mappers.ParametrizedMessageMapper"/>
        <mapper class="net.thumbtack.forums.mappers.ParametrizedMessageTreeMapper"/>
        <mapper class="net.thumbtack.forums.mappers.StatisticMapper"/>
    </mappers>
</configuration>
